*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.header{
    padding: 50px  80px;
    background-image: linear-gradient(  #b78fcf,#67b4d2);
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    
}

.credo__logo{
    width:160px;
    height:140px;
    border-radius: 45px;
}

.header__items__button{
    width: 206px;
    height: 50px;
    border-radius: 15px;
    background: #d5c9e7 ;
    cursor: pointer;
}