.header__items__button {
  width: 206px;
  height: 50px;
  border-radius: 15px;
  background: #d5c9e7;
  margin-right: 5px;
}

.admin {
  background-image: linear-gradient(#b78fcf, #67b4d2);
  display: flex;
}
